<style>
  article {
    background-color: gainsboro;
    padding: 20px;
    margin: 20px 0;
  }

  div {
    margin: 0 auto;
    width: 80%;
    height: 100px;
    background-color: gold;
  }
</style>

<!-- Call the getContentItem function -->
<article [innerHtml]="contentsList.getContentItem(0)"></article>
<article [innerHtml]="contentsList.getContentItem(1)"></article>
<article [innerHtml]="contentsList.getContentItem(2)"></article>

<!-- Get a content item that is out of the array length -->
<article [innerHtml]="contentsList.getContentItem(4)"></article>

